.footer {
  position: relative;
  background: #0b0b0b;
  color: #fff;
  text-align: center;
  padding: 100px 10% 60px;
  overflow: hidden;
}

.footer::before {
  content: "teriyaki";
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 190px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.03);
  letter-spacing: 20px;
  z-index: 0;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 35px;
}

.footer-logo span {
  color: #ffcc00;
}

.footer-logo small {
  display: block;
  font-size: 0.8rem;
  color: #bbb;
  letter-spacing: 2px;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
  padding: 0;
}

.footer-links li {
  cursor: pointer;
  color: #ccc;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-links li:hover {
  color: #ffcc00;
}

.footer-socials {
  margin-bottom: 40px;
}

.footer-socials a {
  color: #fff;
  font-size: 1.2rem;
  margin: 0 12px;
  transition: all 0.3s ease;
}

.footer-socials a:hover {
  color: #ffcc00;
  transform: translateY(-3px);
}

.footer-credit {
  font-size: 0.9rem;
  color: #777;
}

.footer-credit span {
  color: #ffcc00;
  font-weight: 600;
}

/* Responsive */
@media (max-width: 800px) {
  .footer::before {
    font-size: 120px;
    top: 10%;
  }

  .footer-links {
    flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 900px) {
  .footer::before {
  font-size: 26px;
        top: 3%;
  }
}